 

.container {
    width:450px;
    height: 500px;
    background-color: rgba(24, 33, 52, 0.7);
    margin: 250px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #335e66;
   }

.login, .password {
    width: 300px;
    height:50px;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    padding-left: 15px;
}
.iconLogin {
    width:120px;
    height:120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px 0 #354649;
}

.loginBtn, .signUpBtn {
    padding: 13px 30px;
    margin: 25px 10px 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #1e7b92;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid hsl(188, 47%, 30%);
    cursor: pointer;
   } 
   
.loginBtn:hover,
.signUpBtn:hover {
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
   }

.forgotPasswordBtn {
    font-size: 14px;
    text-decoration: none;
}

.forgotPasswordBtn:hover {
    color: rgb(247, 173, 173)
}